body {
    background-color: #030b18;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.bdy_div_cld {
    width: 100%;
    margin: 0 auto;
}

.header_cover {
    width: 100%;
    background-color: #0d1522;
    box-shadow: 0px 1px 4px 2px #000000;
}

header {
    flex-direction: row;
    justify-content: center;
    column-gap: 30%;
    align-items: center;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    height: 88px;
}

.comp_name {
    max-width: 30%;
}

.comp_name h1 {
    margin: 0;
}

.nav_div {
    max-width: 40%;
}

.nav_div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 60px;
}

.ancr {
    text-decoration: none;
    color: #d1e4e2;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom 0.6s ease;
}

.home_sec {
    display: flex;
    height: 686px;
    justify-content: center;
    align-items: center;
}

.text_area {
    width: 644px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.img_area img {
    width: 644px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 2px #0c0c0c;
}

.ancr:hover {
    color: white;
    border-bottom: 2px solid #3985ee;
    /* box-shadow: 1px 1px #3985ee; */
}


@media (max-width: 426px) {
    .bdy_div_cld {
        width: 100%;
    }

    header {
        justify-content: space-between;
        height: 56px;
    }

    .comp_name {
        max-width: 60%;
    }

    .side_menu_div {
        display: block !important;
        max-width: 10%;
    }

    .nav_div {
        display: none !important;
    }

    .home_sec{
        flex-direction: column;
    }
    .text_area{
        width: 400px;
    }
    .img_area img{
        width: 400px;
    }
}