body{
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
}
header{
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
  max-width: 400px;
  min-width: 400px;
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
}
form div{
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    margin-bottom: 16px;
}
main section h2{
    text-align: center;
} 

label{
    font-weight: bold;
}
input {
    height: 27px;
    font-size: 14px;
    border-radius: 5px;
}
button{
    height: 26px;
    background-color: lightgreen;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.5s color 0.5s;
    cursor: pointer;
}

footer{
    text-align: center;
}

button:hover{
    background-color: green;
    color: white;
    opacity: 0.9;
}
