body{
    margin: 0;
}
p{
    margin: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 24px; */
    align-items: center;
    background-color: #222;
    color: white;
    padding: 0 12px;
    /* position: fixed; */
}
header button{
    height: 25px;
    cursor: pointer;
}
header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: underline;
}

aside{
    width: 100px;
    position: absolute;
    top: 27px;
    left: 48px;
    color: white;
    background: lightseagreen;
}

aside ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    margin-left: 12px;
    width: 90px;
    margin-bottom: 0;
}
main{
    margin: 0 auto;
    width: 960px;
    align-items: center;
    padding: 16px;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    row-gap: 24px;
}
figure img{
    width: 100%;
    height: 250px;
}

figure{
    margin: 0;
    width: 100%;
    max-width: 300px;
    height: 350px;
    text-align: center;
    background-color: lightgray;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infig{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin: 12px 10;
}

.infig button{
    border-style: none;
    cursor: pointer;
}

.infig span, button{
    background-color: lightyellow;
    border: solid black 1px !important;
    border-radius: 4px;
    width: 50px;

}

.infig .time{
    width: 60px;
    cursor:auto;
}

footer{
    text-align: end;
    margin-right: 12px;
}

@media (max-width: 768px){
    article{
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
    figure{
        max-width: 400px;
    }
    header{
        width: 100%;
    }
}