body {
    margin: 0;
    font-family: "Exo 2", Sans-serif;
}

.fixed {
    /* position: fixed; */
    margin: 0 auto;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 85px;
    text-align: center;
    gap: 0;
    margin: 0 auto;
    align-items: center;
    padding: 0 150px;
}

.compnamewrap svg {
    width: 27px;
    height: 27px;
}

.compname {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
    font-size: 35px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

nav li {
    list-style: none;

}

nav li a {
    text-decoration: none;
    color: black;
    transition: text-decoration 1s;
}

.bodyheader {
    height: 375;
    background-color: #0066cc;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px auto;
}

.bodyheader h1 {
    margin: 0;
    font-size: 52;
    color: white;
    font-size: bold;
}

.bodyheader p {
    padding: 0;
    color: white;
    font-size: 25px;
    margin: 21px;
}

.bodyheader button {
    width: 123px;
    height: 42px;
    border-radius: 20px;
    cursor: pointer;
    color: #0066cc;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.4s ease;
    border: none;
}

article svg {
    width: 45px;
    height: 45px;
    color: #0066cc;
}

section h2 {
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: bold;
    color: #1a1a2e;
    margin-top: 12px
}

.plan, .service p {
    margin: 0px auto;
    color: #666;
    word-spacing: 2px;
}

.service button{
    width: 164px;
    height: 36px;
    color: #0066cc;
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: none;
}

.service article {
    background-color: white;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 16px;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.service article p {
    margin: 0;
    font-size: 16px;
    padding: 0 31px;
}

.service {
    background-color: rgb(248, 249, 250);
    height: 495px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 28px;
    margin: 16px auto;
}

.serviceWrap {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 16px auto;
}

.palnwrap article {
    width: 386px;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    transition: all 0.3s ease;

}
.price{
    font-size: 42px;
    color: #0066cc;
    font-weight: bold;
    margin: 0 auto;
}
.subhead{
    color: black;
    font-size: 22px;
}

.palnwrap article ul {
     list-style: none;
     display: grid;
     grid-template-columns: 1fr 4fr;
     justify-content: center;
     text-align: center;
     align-items: center;
     padding: 0;
     padding-right: 26px;
}

.palnwrap li p{
    color: #1a1a2e;
    border-bottom: solid #eee 1px;
}

.palnwrap svg{
    width: 20px;
}

.palnwrap h4{
    margin: 16px auto;
}
.palnwrap button{
    height: 38px;
    width: 129px;
    border-radius: 19px;
    background-color: white;
    color: #0066cc;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    cursor: pointer;
}

.whyus{
    background-color: rgb(248, 249, 250);
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 24px auto;
}

.whywrap{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.whywrap article {
     width: 288px;
     height: 226px;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
     border-radius: 14px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 24px;
}

.whywrap p{
    margin: 0 auto;
}
.discp{
    padding: 0 12px;
}
.highlig{
    font-size: 26px;
}

.galry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 24px auto;
}

.imgwrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.imgsize {
    width: 388px;
    height: 346px;
    border-radius: 16px;
}

.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: rgb(248, 249, 250);
    margin: 16px auto;
}

.revwrap{
    width: 350px;
    height: 264px;
    background-color: rgb(248, 249, 250);
}

.contus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.formdiv {
    width: 522px;
    height: 518px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 16px;
}

.formdiv form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;
    height: 100%;
    width: 369px;
}

.namewrap{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
.formdiv form input, select {
    height: 42px;
    border-radius: 8px
}

.formdiv form textarea{
    height: 68px;
    margin-bottom: 16px;
}

.namewrap input {
    max-width: 182px;
}

.loccont p, .loccont h4{
    margin: 0;
    margin-bottom: 12px;
}
.locdiv {
    background-color: rgb(248, 249, 250);
    width: 522px;
    height: 518px;
    border-radius: 16px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.locmsg{
    font-size: 24px;
}
.adrs{
    color: #666;
    width: 208px;
    margin: 0 auto;
}
.phnsvg{
    margin: 13px auto;
    text-align: center;
    align-items: center;
}

.phnsvg svg{
    width: 22px;
    height: 19px;
}
.email{
    color: #1a1a2e;
}

.email svg{
    width: 18px;
    height: 17px;
}

.contuswrap{
    width: 1256px;
    height: 546px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

footer{
    background-color: #1a1a2e;
    height: 486px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footerrow {
    height: 100%;
    max-width: 1026px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px
}
.footerdisc{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.footerdisc a, p{
    color: white;
}
.footerdisc p{
    width: 418px;
}

.socialsvg {
    color: white;
    display: flex;
    justify-content: space-around;
}

.socialsvg svg{
    margin-right: 16px;
    width: 24px;
    height: 22px;
    border: solid #0066cc 8px;
    border-radius: 17px;
}
.qlink p{
    font-weight: bold;
    font-size: 18px;
}
.qlink ul {
     list-style: none;
     width: 98px;
     padding: 0;
     display: flex;
     flex-direction: column;
     gap: 16px;
}
.qlink li{
    display: flex;
    justify-content: space-around;
}
.qlink a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.qlink svg{
    color: white;
    width: 20px;
    height: 16px;
}
.ourser{
    width: 264px;
}

nav a:hover {
    text-decoration: underline;
}

.bodyheader button:hover {
    background-color: #2980b9;
    color: white;
}

.palnwrap button:hover,.service button:hover{
    color: white;
    background-color:#0066cc;
}

.whywrap article:hover, alnwrap article:hover,.service article:hover{
    border-top: solid #0066cc 7px;
    box-shadow: 0 15px 40px rgba(0, 102, 204, 0.2);
}

.palnwrap article:hover{
    background-color: #0372e0;
    p{
        color: white;
    }
    button:hover{
        background-color: #000080;
        color: white;
    }
}