/* .div1{
    border: 1px solid black;
    width: 400px;
    height:300px;
    background-color: tomato;
    position: sticky;
    top: 20px;
}
.div2{
    width: 200px;
    height: 150px;
    background-color: lightblue;
    position: absolute;
    top: 80px;
    left: 70px;
} */
/* p:nth-child(){
    background-color: blue;
} */

.div1{
    width: 300px;
    height: 200px;
    background-color: red;
    position: sticky;
    top: 250px;
}
.div2{
    width: 150px;
    height: 100px;
    background-color: grey;
    position:fixed;
    align-items: center;
    text-align: right;
    /* z-index: 1; */
}
.div3{
    width: 75px;
    height: 50px;
    background-color: lightblue;
    position: absolute;
    top: 300px;
    left: 100px;
    align-items: center;
    text-align: center;
    /* z-index: 2; */
}
.thr{
position: relative;
left: 27px;
}